include ../utilities/_mixins
doctype html
html(lang="ru")
  head
    include _head

  body
    .ovh
      block header
        include ../../components/header/_header

      .page(class=outClass)
        .page__content
          block content

        block footer
          include ../../components/footer/_footer

      block scripts
        include _scripts
